on:
  push:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Install Qt
      uses: jdpurcell/install-qt-action@v5
      with:
        version: 6.8.2
        host: 'mac'
        target: 'ios'
        arch: 'ios'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: 'true'
        use-naqt: true
        setup-python: false

    - name: Install ninja
      run: brew install ninja

    - name: Configure
      run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -B build -G Ninja
                            -DQt6LinguistTools_DIR=${{ env.QT_HOST_PATH }}/lib/cmake/Qt6LinguistTools
                            -DQt6ShaderToolsTools_DIR=${{ env.QT_HOST_PATH }}/lib/cmake/Qt6ShaderToolsTools || cmake -B build

    - name: Build
      # run: xcodebuild build -project qmlcreator.xcodeproj -configuration Release -destination "generic/platform=iOS" CODE_SIGNING_ALLOWED=NO -scheme qmlcreator -archivePath qmlcreator.xcarchive archive
      run: cmake --build .
      working-directory: build

    - name: Package
      run: |
        mkdir Payload
        mv src/*.app Payload
        zip -qq -r -9 Qmlcreator.ipa Payload
      # working-directory: build/qmlcreator.xcarchive/Products/Applications
      working-directory: build

    - name: Save APK
      uses: actions/upload-artifact@v4
      with:
        name: qmlcreator-ipa
        # path: build/qmlcreator.xcarchive/Products/Applications/*.ipa
        path: build/*.ipa
