on:
  push:
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Install Host Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.8.2
        host: 'linux'
        target: 'desktop'
        arch: 'linux_gcc_64'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: true
        cache: false
          
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.8.2
        host: 'linux'
        target: 'android'
        arch: 'android_arm64_v8a'
        modules: 'qtshadertools'
        dir: '${{ runner.temp }}'
        install-deps: true
        cache: false

    - name: I'm sorry, github, i have no choice
      run: sudo rm -r /usr/local/lib/android/sdk/platforms/android-35*

    - name: Configure
      run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -B build
                            -DQT_HOST_PATH=${{ env.QT_ROOT_DIR }}/../gcc_64/
                            -DQt6LinguistTools_DIR=${{ env.QT_ROOT_DIR }}/../gcc_64/lib/cmake/Qt6LinguistTools
                            -DQt6ShaderToolsTools_DIR=${{ env.QT_ROOT_DIR }}/../gcc_64/lib/cmake/Qt6ShaderToolsTools || cmake -B build

    - name: Build
      run: cmake --build .
      working-directory: build

    - run: cat /home/runner/work/qmlcreator/qmlcreator/build/src/android-qmlcreator-deployment-settings.json

    - name: Save APK
      uses: actions/upload-artifact@v4
      with:
        name: qmlcreator-apk
        path: build/src/android-build/*.apk
